<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notflix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i' type='text/css' media='all' />
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/">Notflix Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../EditInfo">User<span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
            </ul>
          </div>
        </nav>
      </header>

    <!--Main Area-->
    <main role="main" class="container">
        <!-- Main page img -->
        <div id="notflixImg">
          <img src="/img/NotflixRed.png">
        </div>
        <!-- Button to go back to homepage page -->
        <a id="clearResBtn" class="btn" href = "/homepage">View Entire Selection</a>
        <!--Function inside of HTML-->
        <ul id="movieList">
          <div>
            <div id="movieInnerList">
                <img id="selectedMovieImg" src=<%=movie.img%>>
            </div>
            <div>
              <p id="movieInfo"><strong><%= movie.MovieName %></strong></p>
              <p id="movieInfo"><strong>Directed By: </strong><%= movie.Director %></p>
              <p id="movieInfo"><strong>Rating: </strong><%= movie.Rating %></p>
              <p id="movieInfo"><strong>Runtime: </strong><%= movie.LengthInMinutes %> minutes</p>
              <p id="movieInfo"><strong>Stars: </strong><%= movie.Actors %></p>
              <p id="movieInfo"><strong>Released: </strong><%= movie.DateReleased %></p>
              <br>
              <p id="movieInfo">&emsp;<%= movie.Description %></p>
            </div>
          </div>
        </ul>
        <div class="text-center" style="margin-top: 40px">
          <!-- <a href="/movie/<%= movie.MovieID %>/watch"> -->
          <a href="/view/<%= movie.MovieID %>">
            <button id="viewBtn" class="btn btn-secondary">View Film Now</button>
          </a>
        </div>
        
    </main>

    <!-- Footer -->

    <footer class="footer">
    <div class="container">
        <span class="text-muted">&copy;Copyright 2020 Spencer Cobb</span>
    </div>
    </footer>

  <!-- Footer -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</body>
</html>